<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <a href="{{ "/#projects" | prepend: site.baseurl }}" class="btn btn-sm btn-link navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">Projects</a>
      <a class="navbar-brand logo" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="{{ "/#projects" | prepend: site.baseurl }}">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
