//Projects slider
#projects { 
  margin-bottom: 50px;
  .project {
    $margin:  15px;
    margin:   $margin;
    height:   405px;
    position: relative;

    img { height:  100%; }
    em.caption { right: $margin*2;} 
  }
}

//Caption attached to an image
em.caption {
  position:         absolute;
  bottom:           0;
  right:            0;
  font-weight:      bold;
  background-color: rgba(0, 0, 0, 0.6);
  color:            white;
  padding:          2px 8px;
}